@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import "tailwindcss";

/* Define root colours */
:root {

}

@font-face {
  font-family: Geist;
  font-display: swap;
  src: url("/geist.woff2") format("woff2");
}

@font-face {
  font-family: Calistoga;
  font-display: swap;
  src: url("/calistoga.woff2") format("woff2");
}

@theme {
  --font-sans: Geist, sans-serif;
  --font-serif: Calistoga;
  --font-mono: "Courier New", monospace;
  --font-bari: "Barriecito", cursive;
  --font-fred: "Fredoka", cursive;
  --color-background: #FFF5E1;
  --color-primary: #ffbf00;
  --color-secondary: #ff8a00;
  --color-accent: #77d838;
  --color-header-text: #8B4513;
  --color-button-text: #FFFFFF;
  --color-body-text: #333333;
}
